{
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".js", ".json", ""]
    }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ]
}
